@import "./variables.scss";
@import "./mixin.scss";
body,
html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
body {
	background: $mainbg;
	color: $grey;
	font-family: 'Open Sans', Helvetica, Arial, monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 14px;
	background-attachment: fixed !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: 50% 50% !important;
}
.overlay {
	background: rgba(16,23,33,.8);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
* {
	box-sizing: border-box;
}

h1, h2 {
	font-weight: normal;
	padding: 0;
	margin: 0;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: $white;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
.container {
	width: 100%;
	min-width: 748px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
	margin: 0 auto;
	padding: 0 $offset + px;
	overflow: hidden;
	box-sizing: border-box;
}

.container:after {
	content: "";
	display: table;
	clear: both;
}

.row {
	@include margin-row(0, $offset, 0);
}

.col {
	display: inline-block;
	width:  100%;
}

.col-12 {
	@include col($grid, 12, $offset);
}
.col-6 {
	@include col($grid, 6, $offset);
}

.fade-enter-active{
	animation: fadeInDown 0.3s;
}

.fade-leave-active{
	animation: fadeOutUp 0.3s;
}

@keyframes fadeOutUp{
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes onUpdate {
	from {
		background: rgba(255, 95, 115, .5);
	}
	to {
		background: rgba(255, 95, 115, 0);
	}
}
.update-messaage {
	animation: onUpdate 1s;
}

.update-enter-active {
	background: rgba(255, 95, 115, .5);
	transition: background .5s ease-in;
}
.update-enter-to {
	background: rgba(255, 95, 115, 0);
}

.update-leave,
.update-leave-active,
.update-leave-to {
	display: none!important;
	transition: none;
}

.upload {
	display: inline-block;
	&__input {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
		& + label {
			display: inline-block;
			cursor: pointer;
		}
	}
}

.btn {
	display: inline-block;
	border: 1px solid $green;
	background: $green;
	text-decoration: none;
	border-radius: 4px;
	padding:5px 10px;
	text-transform: uppercase;
	margin-right: 10px;
	transition: .2s linear;
	font-size: $font-size-xl;
	color: $white;
	&:last-child {
		margin-right: 0;
	}
	&:hover,
	&.active {
		background: transparent;
		color: $green;
	}
	&-red {
		background: $red;
		color: #ffffff;
		border-color: $red;
		&:hover {
			background: $lred;
			color: $red;
		}
	}
	&.is-disabled {
		opacity: 0.5;
		pointer-events: none;
		cursor: not-allowed;
	}
}

.switch {
	position: relative;
	display: inline-block;
	width: 35px;
	height: 19px;
	&__input {
		opacity: 0;
		width: 0;
		height: 0;
		&:checked + .switch__slider {
			background-color: $red;
		}
		&:focus + .switch__slider {
			box-shadow: 0 0 1px $red;
		}
		&:checked + .switch__slider:before {
			-webkit-transform: translateX(15px);
			-ms-transform: translateX(15px);
			transform: translateX(15px);
		}
	}

	&__slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $green;
		-webkit-transition: .4s;
		transition: .4s;
		border-radius: 34px;
		&:before {
			position: absolute;
			content: "";
			height: 15px;
			width: 15px;
			left: 2px;
			bottom: 2px;
			background-color: white;
			-webkit-transition: .4s;
			transition: .4s;
			border-radius: 50%;
		}
	}
}

//Radio Button
.radio {
	color: #AAAAAA;
	display: inline-block;
	position: relative;
	padding: 5px 0;
	//float: left;
	&:hover {
		.radio__label {
			color: #FFFFFF;
		}
		.radio__check {
			border: 2px solid #FFFFFF;
		}
	}
	&__input {
		position: absolute;
		visibility: hidden;
		&:checked ~ .radio__check {
			border: 2px solid $green;
		}
		&:checked ~ .radio__check::before{
			background: $green;
		}
		&:checked ~ .radio__label{
			color: $green;
		}
	}
	&__label {
		display: block;
		position: relative;
		padding: 0 15px 0 30px;
		z-index: 9;
		cursor: pointer;
		-webkit-transition: all 0.25s linear;
		text-transform: capitalize;
	}
	&__check {
		display: block;
		position: absolute;
		border: 2px solid #AAAAAA;
		border-radius: 100%;
		height: 20px;
		width: 20px;
		top: 5px;
		left: 0;
		z-index: 5;
		transition: border .25s linear;
		-webkit-transition: border .25s linear;
		&:before {
			display: block;
			position: absolute;
			content: '';
			border-radius: 100%;
			height: 10px;
			width: 10px;
			top: 50%;
			left: 50%;
			margin-top: -5px;
			margin-left: -5px;
			transition: background 0.25s linear;
			-webkit-transition: background 0.25s linear;
		}
	}
}

hr {
	border: 1px solid $blue;
}

.color-green {
	color: $green;
}
.color-red {
	color: $red;
}
.color-black {
	color: $black;
}

.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
	img {
		width: 100px;
	}
}