// Variable

//Color
$blue: rgba(118, 133, 169, 1);
$lblue: rgba(118, 133, 169, 0.4);
$grey: #c5c5c5;
$dgrey: #666666;
$green: rgba(66, 185, 131, 1);
$lgreen: rgba(66, 185, 131, 0.3);
$red: rgba(255, 95, 115, 1);
$lred: rgba(255, 95, 115, 0.3);
$redu: rgba(189, 37, 37, 1);
$lwhite: rgba(255, 255, 255, .5);
$white: rgba(255, 255, 255, 1);
$orange: rgba(215, 84, 66, 1);
$lorange: rgba(215, 84, 66, 0.3);
$yellow: rgba(189, 189, 5, 1);
$black: rgba(0, 0, 0, 1);
$mainbg: rgba(16, 23, 33, 1);
$lmainbg: rgba(16, 23, 33, .8);

$profit: $green;
$profitbg: $lgreen;

$superprofit: $orange;
$superprofitbg: $lorange;

$kucoin: rgba(118, 133, 169, 0.3);
$gateio: rgba(255, 95, 115, 0.2);

//Grid
$grid: 12;
$offset: 5;
$baseoffset: $offset + unquote("px");

//Fonts
$font-size-xs: 11px;
$font-size: 12px;
$font-size-xl: 12px;

// Margins
$margin-top: 35px; // Height of top menu
$margin-top-mobile: 70px;
