<template>
    <div class='dropdown'
        :class='showClass'
        v-click-outside="closeDropdown"
    >
        <div 
            class="dropdown__main"
            @click="isShow = !isShow"
        >
            <span>{{defaultVal}}</span>
        </div>

        <ul v-if="isShow"
            class="dropdown__list"
        >
            <li
                v-for='li in drops'
                :key='`${id}_${li}`'
                v-show="li != defaultVal"
                @click="changeMain(li)"
            >
                {{li}}
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: 'AppDropdown',
        props: {
            drops: Array,
            id: String,
            defaultVal: String
        },
        created() {
            this.main = this.default;
        },
        data() {
            return {
                isShow: false
                //main: ''
            }
        },
        computed: {
            showClass() {
                return this.isShow ? 'is-active' : ''
            }
        },
        methods: {
            changeMain(val) {
                this.isShow = false;
                this.$emit('change-value', val);
            },
            closeDropdown() {
                this.isShow = false;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .dropdown {
        position: relative;
        width: 100%;
        &.is-active {
            background: $lblue;
            &.dropdown__main:after {
                transform: rotate(-180deg)
            }
        }
        &__main {
            position: relative;
            padding: 15px 15px; 
            cursor: pointer;
            &:after {
                content: '';
                background: url(../assets/img/arrow-down.svg) no-repeat;
                width: 10px;
                height: 10px;
                display: block;
                background-size: 10px;
                position: absolute;
                right: 15px;
                top: 50%;
                margin-top: -5px;
            }
        }
        &__list {
            position: absolute;
            top: 35px;
            left: 0;
            border: 1px solid $grey;
            padding: 0;
            margin: 0;
            width: 90%;
            background: $mainbg;
            z-index:10;
            left: 50%;
            transform: translate(-50%, 0);  
            li {
                display: block;
                padding: 10px 15px;
                cursor: pointer;
                margin: 0;
                &:hover {
                    background: $lblue;
                }
            }
        }
    }
</style>