<template>
    <div class="item">
        <!-- /{{exchange.coins}} -->
      <div 
        class="item__col item__col-padding">
        <div 
          class="item__title"
        >
          {{exchange.name}}
        </div>
      </div>
      <div class="item__col">
        <div class="item__dropdown dropdown">
            <app-dropdown
              :drops='selectCoins'
              :id='exchange.name'
              :defaultVal='currentCoin'
              :key='`${currentCoin}_coins`'
              @change-value='changeCoin($event)'
            ></app-dropdown>
        </div>
      </div>
      <div class="item__col">
        <div class="item__dropdown dropdown">
            <app-dropdown
              :drops='selectExchanges'
              :id='exchange.name'
              :defaultVal='currentExchange'
              :key='`${currentCoin}_exchanges`'
              @change-value='changeExchange($event)'
            ></app-dropdown>
        </div>
      </div>
      <div class="item__col item__col-padding">
          <input 
            type='number'
            v-model=count
            class="item__number"
          />
      </div>
      <div class="item__col item__col-padding">
        <a 
          href="#" 
          target="_blank" 
          rel="noopener noreferrer" 
          class="item__btn btn"
          @click.prevent="clickSend()"
        >Send</a>
      </div>        
    </div>
</template>

<script>
import AppDropdown from './AppDropdown.vue';
export default {
  name: 'AppItem',
  props: {
    exchange: Object
  },
  components: {
    AppDropdown
  },
  created() {
    let firstCoin = Object.keys(this.exchange.coins)[0];
    this.currentCoin = firstCoin;
    this.currentExchange = this.exchange.coins[firstCoin].exchanges[0].name;
    this.count = this.exchange.coins[this.currentCoin].balance
  },
  data() {
    return {
      // TODO: set this vals on created component
      currentCoin: '',
      currentExchange: '',
      count: 0
    }
  },
  computed: {
    selectCoins() {
      let res = [];
      for(let coin in this.exchange.coins) {
        res.push(coin)
      }
      return res
    },
    selectExchanges() {
      return this.exchange.coins[this.currentCoin].exchanges.map(item => item.name)
    }
  },
  methods: {
    changeCoin(val) {
      this.currentCoin = val;
      this.currentExchange = this.selectExchanges[0]
      this.count = this.exchange.coins[val].balance
    },
    changeExchange(val) {
      this.currentExchange = val;
    },
    clickSend() {
      let target_id = '';
      this.exchange.coins[this.currentCoin].exchanges.forEach(ex => {
        if(ex.name === this.currentExchange) {
          target_id = ex.id
        }
      })
      this.$emit('click-send', {
        'main': this.exchange.name,
        'coin': this.currentCoin,
        'target_name': this.currentExchange,
        'target_id': target_id,
        'balance': this.count
      })
    }
  }
}
</script>

<style lang="scss">
  .item {
    // overflow: hidden;
    // border: 1px solid #ffffff;
    display: table-row;
    
    &__col {
      //@include col($grid, 2.4, $offset);
      border: 1px solid $grey;
      display: table-cell;
      //padding: 10px 15px;
      vertical-align: middle;
      width: 25%;
      &-padding {
        padding: 0 15px;
      }
    }
    &__title {
      font-weight: bold;
      font-size: 16px;
    }
    &__number {
      width: 100%;
      border: none;
      background: transparent;
      color: #c5c5c5;
      &:hover,
      &:focus,
      &:active {
        outline: none;
      }
    }

  }
</style>

