<template>
    <main>
        <div class="list">
            <app-item
            v-for='item in getExchangesItems'
            :key='`main_exchange_${item.name}`'
            :exchange=item
            @click-send=openConfirmPopup($event)
            ></app-item>
        </div>
        
        <div 
            class='preloader'
            v-if="!getExchangeRequests"
        >
            <img src="../assets/img/loader.svg" alt="Loader"> 
        </div>

        <app-popup 
          v-if=popupShow
          @close="closeConfirmPopup()"
          :info=popupData
        />
    </main>  
    
</template>

<script>
import AppItem from './AppItem.vue'
import AppPopup from './AppPopup.vue'


import { mapActions } from 'vuex'
import { mapGetters } from 'vuex'

export default {
    name: 'AppList',
    components: {
        AppItem,
        AppPopup
    },
    data() {
        return {
            popupShow: false,
            popupData: {},
            "list": [
                {
                "id": "Bittrex",
                "coins": [
                    {
                        "name": "PTON",
                        "exchanges": [
                            "PTON Kucoin",
                            "PTON HitBTC",
                            "PTON Gate.io"
                        ]
                    },
                    {
                        "name": "VTON",
                        "exchanges": [
                            "VTON Kucoin",
                            "VTON HitBTC",
                            "VTON Gate.io"
                        ]
                    },
                    {
                    "name": "FNH",
                    "exchanges": [
                        "FNH Kucoin",
                        "FNH HitBTC",
                        "FNH Gate.io"
                    ]
                    },
                    {
                    "name": "SBN",
                    "exchanges": [
                        "SBN Kucoin",
                        "SBN HitBTC",
                        "SBN Gate.io"
                    ]
                    }
                ],
                "balance": 0.000005
                },
                {
                "id": "Kucoin",
                "coins": [
                    {
                        "name": "PTON",
                        "exchanges": [
                            "PTON Kucoin",
                            "PTON HitBTC",
                            "PTON Gate.io"
                        ]
                    },
                    {
                        "name": "VTON",
                        "exchanges": [
                            "VTON Kucoin",
                            "VTON HitBTC",
                            "VTON Gate.io"
                        ]
                    },
                    {
                    "name": "FNH",
                    "exchanges": [
                        "FNH Kucoin",
                        "FNH HitBTC",
                        "FNH Gate.io"
                    ]
                    },
                    {
                    "name": "SBN",
                    "exchanges": [
                        "SBN Kucoin",
                        "SBN HitBTC",
                        "SBN Gate.io"
                    ]
                    }
                ],
                "balance": 0.0000345
                },
                {
                "id": "Gate.io",
                "coins": [
                    {
                        "name": "PTON",
                        "exchanges": [
                            "PTON Kucoin",
                            "PTON HitBTC",
                            "PTON Gate.io"
                        ]
                    },
                    {
                        "name": "VTON",
                        "exchanges": [
                            "VTON Kucoin",
                            "VTON HitBTC",
                            "VTON Gate.io"
                        ]
                    },
                    {
                    "name": "FNH",
                    "exchanges": [
                        "FNH Kucoin",
                        "FNH HitBTC",
                        "FNH Gate.io"
                    ]
                    },
                    {
                    "name": "SBN",
                    "exchanges": [
                        "SBN Kucoin",
                        "SBN HitBTC",
                        "SBN Gate.io"
                    ]
                    }
                ],
                "balance": 0.000345345
                }
            ]
        }
    },
    created() {
        this.getExchangesList();
    },
    computed: {
        ...mapGetters([
            'getExchangesItems',
            'getExchangeRequests'
        ])
    },
    methods: {
        ...mapActions([
            'getExchangesList',
            'clearAddrAndWithdraw'
        ]),
        openConfirmPopup(e) {
      
            //this.getExchangesList()
            this.popupData = e;
            this.popupShow = true
        },
        closeConfirmPopup(e) {
            this.popupShow = false;
            this.clearAddrAndWithdraw();

        },
        getTargetAddress(coin, exchange) {

        } 
  }
}
</script>

<style lang="scss">
  .list {
    width: 900px;
    margin: 0 auto;
    display: table;
    border-collapse: collapse;
  }
</style>

