<template>
    <div class="popup">
        <div 
            class="popup__overlay"
            @click="closePopup()"
        ></div>
        <div 
            class="popup__block"
        >
            <div 
                class="popup__preloader preloader"
                v-if="getWithdraw.status ==='pending' || getAddress.status === 'pending'"
            >
                <img src="../assets/img/loader.svg" alt="Loader"> 
            </div>
            <div class="popup__head">
                <h3 class="popup__title">Send confirmation</h3>
                <div 
                    class="popup__close"
                    @click="closePopup()"    
                ></div>
            </div>
            <div class="popup__body">
                <ul class="popup__list">
                    <li>
                        <span>From: </span>
                        <strong>{{info.main}}</strong>
                    </li>
                    <li>
                        <span>To: </span>
                        <strong>{{info.target_name}}</strong>
                    </li>
                    <li>
                        <span>Amount: </span>
                        <strong>{{info.balance}} {{info.coin}}</strong>
                    </li>
                    <li>
                        <span>Address: </span>
                        <strong>{{getAddress.addr}}</strong>
                    </li>
                </ul>
                <div 
                    v-if="getAddress.status == 'error'" 
                    class="popup__alert is-error"
                >
                    {{getAddress.message}}
                </div>
                <div 
                    v-if="getWithdraw.result === 'ok'" 
                    class="popup__alert"
                    :class="withdrawAlertClass"
                >
                    {{getWithdraw.message}}
                </div>
                <div class="popup__group">
                    <a 
                        href="#" 
                        class="popup__btn btn"
                        @click.prevent="sendRequestWithdraw()"
                        :class="sendBtnClass"
                    >
                        OK
                    </a>
                    <a 
                        href="#" 
                        class="popup__btn btn btn-red"
                        @click.prevent="closePopup()"
                    >
                        Cancel
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapActions } from 'vuex';
    import { mapGetters } from 'vuex'

    export default {
        name: 'AppPopup',
        created() {
            //console.log(this.info.target_id)
            this.requestAddress({
                coin: this.info.coin,
                exchange: this.info.target_id
            });
        },
        props: {
            info: Object
        },
        computed: {
            ...mapGetters([
                'getAddress',
                'getWithdraw'
            ]),
            sendBtnClass() {
                return this.getAddress.status != 'success' || this.getWithdraw.result === 'ok' ? 'is-disabled' : ''
            },
            withdrawAlertClass() {
                return this.getWithdraw.status === 'success' ? 'is-success' : 'is-error'
            }
        },
        methods: {
            ...mapActions([
                'requestAddress',
                'requestWithdraw'
            ]),
            closePopup() {
                // Если какой-то из запросов в процессе, то закрыть поап нельзя. Придется дожидаться :)
                if(this.getWithdraw.status !='pending' || this.getAddress.status != 'pending') {
                    this.$emit('close');
                }
            },
            sendRequestWithdraw() {
                if(this.getAddress.status === 'success') {
                    this.requestWithdraw({exchange: this.info.target_id, coin: this.info.coin, amount: this.info.balance})
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &__overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $lmainbg;
        }
        &__block {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #394358;
            width: 650px;
        }
        &__title {
            text-align: center;
            font-size: 20px;
            margin-bottom: 0;
        }
        &__head {
            position: relative;
        }
        &__close {
            background: url('../assets/img/close.svg') no-repeat;
            width: 40px;
            height: 40px;
            background-size:20px 20px;
            background-position: 50% 50%;
            position: absolute;
            right: 10px;
            top: -10px;
            cursor: pointer;
            &:hover {
                opacity: 0.5;
            }
        }
        &__body {
            padding: 30px;
        }
        &__list {
            margin: 0;
            padding: 0;
            li {
                display: block;
                font-size: 16px;
                margin: 0 0 5px;
            }
        }
        &__group {
            margin: 15px 0 0;
            display: flex;
            justify-content: flex-end;
        }
        &__btn {
            width: 50%;
            text-align: center;
            font-size: 16px;
        }
        &__alert {
            padding: 10px;
            margin-top: 5px;
            font-size: 16px;
            &.is-error {
                background: $lred;
                border: 1px solid $red;
                color: $red;
            }
            &.is-success {
                background: $lgreen;
                border: 1px solid $green;
                color: $green;
            }
        }
        &__preloader {
            background: $lmainbg;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }
</style>