<template>
  <div id="app">
    <app-list/>
  </div>
</template>

<script>
import AppList from './components/AppList.vue'

export default {
  name: 'app',
  components: {
    AppList
  } 
}
</script>

<style lang="scss">
@import "assets/css/main";
#app {
  padding: 25px;
}
</style>
